@page
@model IndexModel
@{
    ViewData["Title"] = "Cars Info";
}
@inject CarsDbContext _context
<h1>Cars Information</h1>
<table class="table table-bordered">
    <thead class="bg bg-success">
    <td>Name</td>
    <td>ModelNumber</td>
    <td>ManufactureYear</td>
    <td>Manufacturer</td>
    <td>Rating</td>
    </thead>
    @foreach (var item in _context.Cars)
    {

        <tr>
            <td>@item.Name</td>
            <td>@item.ModelNumber</td>
            <td>@item.ManufactureYear</td>
            <td>@item.Manufacturer</td>
            <td>@item.Rating</td>
        </tr>
    }
</table>
